@model CourseViewModel
@{
    ViewData["Title"] = "Add Course";
}

@section PageHeader{
    <div class="col-sm-4">
        <h1 style="color: #18b2c4;border-bottom: 2px solid #18b2c4;font-weight:bolder;">Add Course</h1>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Courses">Courses</a></li>
            <li class="breadcrumb-item active">Add Course</li>
        </ol>
    </div>
}

<hr />
<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- left column -->
            <div class="col-md-8">
                <!-- Create Form -->
                <div class="card card-custom">
                    <div class="card-header">
                         <h3 class="card-title pt-2" style="color: #18b2c4;font-weight: bolder;font-size: 22px;">Create Course</h3>
                    </div>
                    <form id="createCourse-form">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="CourseName" class="control-label"></label>
                                <input required="required" asp-for="CourseName" class="form-control" />
                                <span asp-validation-for="CourseName" class="text-danger"></span>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="CourseCode" class="control-label"></label>
                                    <input asp-for="CourseCode" class="form-control"/>
                                    <span asp-validation-for="CourseCode " class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreditHour" class="control-label"></label>
                                <input required="required" asp-for="CreditHour" class="form-control" />
                                <span asp-validation-for="CreditHour" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContactHour" class="control-label"></label>
                                <input required="required" asp-for="ContactHour" class="form-control" />
                                <span asp-validation-for="ContactHour" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input id="createCourse-btn" type="submit" class="btn btn-info m-2" value="Create"/>
                            <a href="@Url.Action("Index", "Courses")" class="btn btn-info">Back to List</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts {
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script> *@
    @* <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
<script>
        $(document).ready(function () {
            

            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            const EndPoint = '@EndPoint.ApiEndpoint';

            


            


            // Handle Create Product
            $("#createCourse-btn").click(function (e) {
                $("#createCourse-form").validate();
                $("#createCourse-form").submit(function (e) {
                    e.preventDefault();
                });
                let course = {
                    "CourseName": $("#CourseName").val(),
                    "CourseCode": $("#CourseCode").val(),
                    "CreditHour": $("#CreditHour").val(),
                    "ContactHour": $("#ContactHour").val(),
                }
                Swal.fire({
                    title: 'Are you sure?',
                    //text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    console.log(result.value);
                    if (result.value) {
                        $.ajax({
                            url: EndPoint + '/courses/AddCourse',
                            type: 'POST',
                            data: JSON.stringify(course),
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data, textStatus, xhr) {
                                let responseCode = xhr.status;
                                if (responseCode === 201) {
                                    $("#createCourse-btn").prop('disabled', true);
                                    Toast.fire({
                                        icon: 'success',
                                        title: "Success " + responseCode,
                                        text: "Created Successfully",
                                    });

                                    setTimeout(redirectFunc, 2000);
                                    function redirectFunc() {

                                        window.location.href = "@Url.Action("Index","Courses")";

                                    }

                                }
                            }
                        });

                    }
                });
            });


        });
</script>
}

