@model CourseViewModel
@{
    ViewData["Title"] = "Update Courses";
}

@section PageHeader{
    <div class="col-sm-4">
        <h1 style="color: #18b2c4;border-bottom: 2px solid #18b2c4;font-weight:bolder;">Update Course</h1>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Courses">Courses</a></li>
            <li class="breadcrumb-item active">Update Course</li>
        </ol>
    </div>
}
<hr />
<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- left column -->
            <div class="col-md-8">
                <!-- jquery validation -->
                <div class="card card-custom">
                    <div class="card-header">
                        <h3 class="card-title" style="color: #18b2c4;font-weight: bolder;font-size: 22px;">Update Course</h3>
                    </div>
                    <form id="editCourse-form" asp-action="Edit">
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="CourseName" class="control-label"></label>
                                <input required="required" asp-for="CourseName" class="form-control" />
                                <span asp-validation-for="CourseName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CourseCode" class="control-label"></label>
                                <input asp-for="CourseCode" class="form-control" />
                                <span asp-validation-for="CourseCode " class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CreditHour" class="control-label"></label>
                                <input required="required" asp-for="CreditHour" class="form-control" />
                                <span asp-validation-for="CreditHour" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContactHour" class="control-label"></label>
                                <input required="required" asp-for="ContactHour" class="form-control" />
                                <span asp-validation-for="ContactHour" class="text-danger"></span>
                            </div>
                            <input hidden asp-for="Id" class="form-control" />
                        </div>
                        <div class="card-footer">
                            <input id="editCourse-btn" type="submit" class="btn btn-info" value="Update"/>
                            <a class="btn btn-info" asp-controller="Courses" asp-action="Index">Back to List</a>
                        </div>

                    </form>
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

<div>
    
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            const EndPoint = '@EndPoint.ApiEndpoint';
            //$(function() {
            //  $('#DOB').daterangepicker({
            //    singleDatePicker: true,
            //    showDropdowns: true,
            //    minYear: 1901,
            //    maxYear: parseInt(moment().format('YYYY'),10)
            //  });
            //});
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            @*==Populate Form ==*@
            const url = window.location.pathname;
            const id = url.substring(url.lastIndexOf('/') + 1);
            console.log(id);
            $.ajax({
                url: EndPoint + '/courses/getdetail/' + id,
                type: 'GET',
                success: function (data) {
                    const course = data.data;
                    console.log(course)
                    $("#Id").val(course.id);
                    $("#CourseName").val(course.courseName);
                    $("#CourseCode").val(course.courseCode);
                    $("#CreditHour").val(course.creditHour);
                    $("#ContactHour").val(course.contactHour);
                }
            });
            @*==Populate Form ==*@





            @*==Submit Form==*@
            $("#editCourse-btn").click(function (e) {
                $("#editCourse-form").submit(function (e) {
                    e.preventDefault();
                });
                let course = {
                    "Id": $("#Id").val(),
                    "CourseName": $("#CourseName").val(),
                    "CourseCode": $("#CourseCode").val(),
                    "CreditHour": $("#CreditHour").val(),
                    "ContactHour": $("#ContactHour").val(),
                }
                Swal.fire({
                    title: 'Are you sure?',
                    //text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then((result) => {
                    console.log(result.value);
                    if (result.value) {
                        $.ajax({
                            url: EndPoint + '/courses/UpdateCourse',
                            type: 'POST',
                            data: JSON.stringify(course),
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            success: function (data, textStatus, xhr) {
                                let responseCode = xhr.status;
                                if (responseCode === 200) {
                                    $("#editCourse-btn").prop('disabled', true);
                                    Toast.fire({
                                        icon: 'success',
                                        title: "Success " + responseCode,
                                        text: "Updated Successfully",
                                    });

                                    setTimeout(redirectFunc, 2000);
                                    function redirectFunc() {

                                        window.location.href = "@Url.Action("Index","Courses")";

                                    }

                                }
                            }
                        });

                    }
                });

            });
            @*==Submit Form==*@
        });
    </script>
}
